* {
    background-color:darkseagreen;  
    text-align: center;
    font-weight: bold;
}

img {
    width: auto;
    height: 300px;
    margin: auto;
    display: block;
}

#maintitle {
    font-family: "Copperplate", "Papyrus";
}

a {
    background-color: #199319;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
}

.add-bckgnd-color {
    background-color: #199319;
}
