* {
    background-color:darkseagreen;  
    text-align: center;
}

img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

#maintitle {
    font-family: "Copperplate", "Papyrus";
}

a {
    background-color: #199319;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}